{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
<div class="mx-sm-5 line-height-sm">
    <h3 class="text-center">Our Mission</h3>
    <p class="my-5">Food recipes are instructions or guides that outline the steps and ingredients required to prepare a specific dish or meal. They serve as a reference for individuals who want to cook or bake various types of food, ranging from simple everyday meals to complex gourmet dishes. Recipes typically include details such as ingredient quantities, cooking techniques, temperatures, and estimated cooking times.
Recipe websites or platforms often provide a wide range of recipes categorized by cuisine, dietary preferences, ingredients, cooking methods, and more. They may also include additional information such as nutritional facts, user reviews, ratings, and sometimes even videos or images to help users better understand the cooking process.
Food recipes can be found on various platforms, including dedicated recipe websites, cooking blogs, social media platforms, and even in printed cookbooks. These resources aim to inspire, guide, and empower people to explore new flavors, try different cooking techniques, and create delicious meals in their own kitchens.
    </p>

    <h3 class="text-center" style="margin-top: 8rem;">Meet The Team</h3>
    <div class="d-block d-lg-flex justify-content-between" style="margin: 5rem;">
        <div>
            <img src="https://picsum.photos/100" alt="Image" height="100" width="100" style="border-radius: 99.999%; display: block; margin-left: auto; margin-right: auto;">
            <h5 class="text-center mt-5 mb-0">John Doe</h5>
            <p class="text-center">Web Developer</p>
        </div>

        <div>
            <img src="https://picsum.photos/100" alt="Image" height="100" width="100" style="border-radius: 99.999%; display: block; margin-left: auto; margin-right: auto;">
             <h5 class="text-center mt-5 mb-0">Josh Doe</h5>
            <p class="text-center">UI/UX Designer</p>
        </div>

        <div>
            <img src="https://picsum.photos/100" alt="Image" height="100" width="100" style="border-radius: 99.999%; display: block; margin-left: auto; margin-right: auto;">
            <h5 class="text-center mt-5 mb-0">Jane Doe</h5>
            <p class="text-center">Cook</p>
        </div>
    </div>
</div>
{% endblock content %}
