{% extends "recipes/base.html" %}

{% block content %}

{% load static %}

<div>
    <h3 class="mb-5">News</h3>

    <div class="d-none d-md-block d-lg-flex">
        <img src="https://e3.365dm.com/23/05/384x216/skynews-salt-chef_6158209.jpg?20230517135815" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Do you know how much salt you should be eating?</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-none d-md-block d-lg-flex my-5">
        <img src="https://e3.365dm.com/23/02/384x216/skynews-peppers-vegetables_6064646.jpg?20230221104533" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">These vegetables could be rationed this year, NFU warns</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-none d-md-block d-lg-flex">
        <img src="https://e3.365dm.com/22/06/384x216/skynews-fish-chips_5796594.jpg?20220606075557" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Fish and chips are yet to reach price peak, industry boss warns</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none">
        <img src="https://e3.365dm.com/22/06/384x216/skynews-fish-skin-cancer-melanoma_5799008.jpg?20220608213508" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Eating two portions of fish a week could increase skin cancer risk</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none my-5">
        <img src="https://e3.365dm.com/23/02/384x216/skynews-food-shortages-tomatoes_6066972.jpg?20230223115152" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Food shortages could last a month, says minister, insisting system remains resilient</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none">
        <img src="https://e3.365dm.com/23/05/384x216/skynews-shopping-basket-shopping_6140160.jpg?20230501162928" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Food prices surge again</h3>
            <p>By admin | June 3</p>
        </div>
    </div>
</div>

{% endblock content %}
