{% extends "recipes/base.html" %}

{% block content %}

<div>
    <h3 class="mb-5">News</h3>

    <div class="d-none d-md-block d-lg-flex">
        <img src="https://dummyimage.com/500x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-none d-md-block d-lg-flex my-5">
        <img src="https://dummyimage.com/500x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-none d-md-block d-lg-flex">
        <img src="https://dummyimage.com/500x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none">
        <img src="https://dummyimage.com/300x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none my-5">
        <img src="https://dummyimage.com/300x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>

    <div class="d-block d-md-none">
        <img src="https://dummyimage.com/300x300" alt="Image" class="me-5">
        <div>
            <h3 style="line-height: 3rem;">Here Are the 2023 James Beard Foundation Media Award Winners</h3>
            <p>By admin | June 3</p>
        </div>
    </div>
</div>

{% endblock content %}