{% extends "recipes/base.html" %}

{% block content %}

<div>
    <h3>Video</h3>

    <div class="d-lg-flex gap-5 my-5 text-center">
        <div class="container">
            <iframe src="https://www.youtube.com/embed/IxvWShOWZlA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Tracey Mcleod's Cheese Challenge</p>
        </div>

       <div class="container">
            <iframe src="https://www.youtube.com/embed/Xa4_RQ_P9aE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Best Market Challenges</p>
        </div>
    </div>

    <div class="d-lg-flex gap-5 my-5 text-center">
        <div class="container">
            <iframe src="https://www.youtube.com/embed/g2dTEhACIgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Sunday Roast Inspire Dishes</p>
        </div>

       <div class="container">
            <iframe src="https://www.youtube.com/embed/t4zXdjiGkPg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Best Dishes from Season1</p>
        </div>
    </div>

    <div class="d-lg-flex gap-5 my-5 text-center">
        <div class="container">
            <iframe src="https://www.youtube.com/embed/ZNqIC2vYYro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Awesome Street Food Compilation</p>
        </div>
    </div>
</div>

{% endblock content %}